<form novalidate>
  <div class="content-section introduction">
    <div>
      <span class="feature-title">SlideMenu</span>
      <span>SlideMenu displays submenus with slide animation.</span>
    </div>
  </div>

    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- AppendTo-->

        <pe-step label="AppendTo" >
          <div class="subcontent-section">
              <span>SlideMenu that is dynamically made and opened in various places on a page using appendTo.</span>
          </div>
          <p-slideMenu #menu [model]="items" [popup]="true"></p-slideMenu>
          <button #btn type="button" pButton icon="fa fa-list" label="Show" (click)="menu.toggle($event)"></button>
        </pe-step>


    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>
