<div class="content-section introduction">
  <div>
    <span class="feature-title">InputMask</span>
    <span>InputText is an extension to standard input element with theming.</span>
  </div>
</div>

<pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
  <!-- Float labels -->

  <pe-step label="Float labels">
    <div class="subcontent-section">
      <span>A floating label is implemented by wrapping the input and the label inside a container with .ui-float-label class.</span>
    </div>
    <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Username</label>
</span>
  </pe-step>

</pe-steps>

<p-growl [value]="msgs"></p-growl>
